---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section>
    <div class="px-8 py-12 md:px-12 mx-auto max-w-7xl lg:px-32">
      <h1 class="text-4xl tracking-tight text-balance font-medium font-display text-black md:text-8xl">
        About
      </h1>
      <p class="mt-8 text-lg text-zinc-500">
        This is the about page. Here you can add information about yourself or your site.
      </p>
    </div>
  </section>
</BaseLayout>